/*colors*/





@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  padding-left: 10px;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  background: #0D3B66;
  
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.menu
{
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FAF0CA;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  text-align: justify;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #a862b3; 
}

/* Style the tab */
.tab {
  overflow: hidden;
  text-align: center;
  background-color: #FAF0CA;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #FAF0CA;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 24px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #EE964B;
  letter-spacing: 6px;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #F95738;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  background: #faf0cac7;
}

.acccontent {
  
  padding: 6px 12px;
  background: #FAF0CA;
}

th,td{
  padding: 15px;
}
ul > li {
  margin-left: 15px;
}

h2{
  text-align: center;
}